/* musicbox */
.card-musicbox {
  padding: 16px;
}
.music-controls .feather {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.music-controls .play,
.music-controls.paused .pause {
  display: none;
}
.music-controls.paused .play {
  display: unset;
}
.music-controls .progress {
  height: 4px;
  margin-top: 12px;
  transition: all 0.3s ease 0s;
}
.music-controls:hover .progress {
  height: 8px;
  margin-top: 8px;
}
@keyframes spining {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.music-controls .loading .feather {
  animation: spining 4s linear infinite;
}

/* 样式初始化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
em,
i {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #426696;
}
button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
        "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
        "\5B8B\4F53", sans-serif;
    color: #fff;
}
.hide,
.none {
    display: none;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.clearfix {
    *zoom: 1;
}
